{% extends 'profileapp/base.html' %}

{% block body %}

<div class="container my-3">
    <a href="{% url 'index' %}" class="btn btn-primary my-3">FORUM</a>
    <h1 class="my-4 text-light">REGISTER NOW !!!</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3 my-4">
            <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
            {{ form.username }}
        </div>
        <div class="input-group mb-3 my-4">
            <span class="input-group-text" id="inputGroup-sizing-default">Email Address</span>
            {{ form.email }}
        </div>
        <div class="input-group mb-3 my-4">
            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
            {{ form.password1 }}
        </div>
        <div class="input-group mb-3 my-4">
            <span class="input-group-text" id="inputGroup-sizing-default">Confirm Password</span>
            {{ form.password2 }}
        </div>
        <div style="color: red;">{{ form.errors }}</div>
        <button type="submit" class="btn btn-success my-4 px-4">Register</button>
        <a href="{% url 'login' %}" class="btn btn-danger my-4 mx-4">Go to Login</a>
    </form>

</div>
<footer class="text-light">
    <center>Copyright {% now "Y" %} Forum. All right Reseved.</center>
</footer>


{% endblock %}